<%unless @query.nil?%>
<li class='search-result'>
  <h4 class='search-result-heading'> <%=link_to listing.title, listing %></h4>
  <div class='search-result-details'>
    <span class='placename'><%=h listing.placename.upcase if listing.placename %></span> 
    <span class='date'><%= time_ago_in_words(listing.published.to_date) %> ago (<%=listing.published.to_date.to_s(:long) %>)</span> ...
      
      <%= highlight(excerpt(strip_tags(listing.abstract), @query, 200)||strip_tags(listing.abstract),@query) if listing.abstract%> .
      <%= highlight(excerpt(strip_tags(listing.full_text), @query, 250)||strip_tags(listing.full_text[0,500]), @query) if listing.full_text%>...
    <span class='site'>from  <%=h listing.site %> </span>
  </div>
  </li>
  <hr/>
<%else%>
  <li class='search-result'>
  <h4 class='search-result-heading'> <%=link_to listing.title, listing %></h4>
  <div class='search-result-details'>
    <span class='placename'><%=h listing.placename.upcase if listing.placename %></span>
    <span class='date'><%= time_ago_in_words(listing.published.to_date) %> ago (<%=listing.published.to_date.to_s(:long) %>)</span> ...
      <%=strip_tags listing.abstract %> ... <%=strip_tags listing.full_text[0,500]%>...
    <span class='site'>from  <%=h listing.site %> </span>
  </div>
  </li>
  <hr/>
<%end%>