<%content_for :title do %>
<%= @article.title %>
<%end%>
<%content_for :header do %>
<h1 ><%=@article.title%></h1>
<h3> from <%=@article.site%></h3> <h4><%=@article.published.to_date.to_s(:long)%></h4>
<%end%>


<p>
  <b>Abstract:</b>
  <%=simple_format  word_wrap  strip_links @article.abstract if @article.abstract%>
</p>

<p>
  <b>Full text:</b>
  <%=simple_format  word_wrap strip_links @article.full_text %>
</p>

<p>
  <b>Url:</b>
  <%=  @article.url %>
</p>

<p>
  <h4>Location:</h4>
  Place: <%=h @article.placename %><br/>
Country: <%=h @article.country %><br/>
ZIP:   <%=h @article.zip %><br/>
Lat:  <%=h @article.latitude %><br/>
Long:  <%=h @article.longitude %><br/>
</p>
<p> 
<b> Tags </b>
<%=h @article.locations.join ', ' %> ,
<%=h @article.topics.join ', ' %>
</p>
<p> <!-- Was REALLY slo, like 10 second db query, so i had to take it out-->
<h4>Related Locations: </h4>
<% @article.find_related_locations(:limit => 4).each do |art| %>
<%= link_to art.title, art %><br/>
<%end%>
<h4>Related Topics: </h4>
<% @article.find_related_topics(:limit => 6).each do |art| %>
<%= link_to art.title, art %><br/>
<%end%>
</p> 
<p>
  <b>DocID:</b>
  <%=h @article.docid %>
</p>
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
<%= link_to 'Destroy', @article, :confirm => 'Are you sure?', :method => :delete %>
