<%content_for :header do %><h1>Viewing Site :  <%=h @site.name </h1><%end%>
<p><>
  <b>Name:</b>
  <%=h @site.name %>
</p>

<p>
  <b>Url:</b>
  <%=h @site.url %>
</p>

<p>
  <b>Total Articles:</b>
  <%=h @site.articles.count %>
</p>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>